{% extends 'base.html' %}
{% block content %}
  
  {% for details in room_details %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{details.name}}</h5>
      <p class="card-text">{{details.description}}</p>
      <small class="text-muted">Created by : {{ details.created_by }}</small><br>
      <small class="text-muted">Created on : {{ details.date_created|date:"F d, Y" }}</small><br><hr>
      <a href="{% url 'chatroom:room-message' details.id %}" class="btn btn-primary">Enter Room</a>
    </div>
</div><br>
  {% endfor %}
<footer class="d-flex justify-content-center">
      <a class="btn btn-outline-success" href="{% url 'chatroom:create-room' request.user.id %}">Create Room</a>
</footer>  
{% endblock %}